.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    padding: 1rem;
    width: 100%;
}

.post a:hover,
.post a:active {
    transform: scale(1.1);
    background-color: rgb(128, 8, 240);
    color: white;
}

.post img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.post__content{
    font-weight: bold;
    font-style: normal;
}